<div class="right-side">
  <div class="right-wrapper">
    <div class="r-sidebar-wrapper">
      <img src="/assets/wargames/Right-Col.png" class="r-side_pic" />
    </div>

    <div class="rules">
      <img src="/assets/wargames/Rules.png" />
    </div>

    <div class="challenges" (click)="challenges()">
      <img src="/assets/wargames/Challenges.png" />
    </div>

    <div class="board" (click)="scoreBoard()">
      <img src="/assets/wargames/Score-Board.png" />
    </div>
  </div>


  <div class="sound">
    <div class="sound-bg">
      <img />
    </div>
  </div>
  
</div>
