<div class="left-side">
  <div class="wrapper">
    <div class="sidebar-wrapper">
      <img src="/assets/wargames/Right-Side.png" class="side_pic" />
    </div>
    <div class="content">
      <div class="team-name">
        <span>r3bilions</span>
      </div>

      <div class="team-point">
        <span>1950 <span class="points">Points</span></span>
      </div>

      <div class="solved">
        <span>13 / 25 <span class="points">Solved</span></span>
      </div>

      <div class="clicked-settings">
      </div>
    </div>
  </div>

  <div class="logout">
    <div class="logout-bg">
      <img src="/assets/wargames/logout.png" />
    </div>
  </div>
  
</div>
