.td-outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.td-main {
  flex-grow: 1;
}

.main {
  min-height: 820px !important;
}


#td-cover-block-0 {
  background-image: url(/assets/wargames/Main-BG-2.jpg);
  height: 100%;
  min-width: 1400px !important;
  // min-height: 780px;
  // min-height: 780px;
}

.land-cover {
  height: inherit;
}

@media (min-width: 768px) {
  .td-default main section:first-of-type {
    padding-top: 0rem;
  }
}


@media (min-width: 768px) {

  .td-block-padding,
  .td-default main section {
    // padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.td-cover-block {
  position: relative;
  // padding-top: 5rem;
  // padding-bottom: 5rem;
  background-repeat: no-repeat;
  // background-position: 50% 0;
  background-position: 0 0;
  background-size: 100% 100%;
  // background-size: cover;
}

.td-cover-block--height-full {
  min-height: 100vh;
}
