<div class="challenges-fluid row td-overlay__inner">
    <section class="challenges-fluid">
        <div class="row content">
            <div class="col-3">
                <app-left-side-bar></app-left-side-bar>
            </div>
            <div class="col-6 block--full">
                <div class="challenges--block">
                    <div class="content-block">
                        <div class="block-0">
                            <div class="challenegs_content">
                                <div class="challenges-title">
                                    <span>CHALLENGES</span>
                                </div>
                            </div>

                          <div class="challenges--full">
                            <div class="challenge">
                                <div class="challenge-name"><span>Forensic studio</span></div>
                                <div class="challenge-level"><span>Level: Easy</span></div>
                                <div class="challenge-points"><span>Points: 500</span></div>
                                <div class="challenge-category"><span>Category: crypto</span></div>
                                <div class="challenge-state"><span>Solved</span></div>
                            </div>

                            <div class="challenge">
                                <div class="challenge-name"><span>Forensic studio</span></div>
                                <div class="challenge-level"><span>Level: Easy</span></div>
                                <div class="challenge-points"><span>Points: 500</span></div>
                                <div class="challenge-category"><span>Category: crypto</span></div>
                                <div class="challenge-state"><span>Solved</span></div>
                            </div>
                          </div>
                          <div class="challenges--full-row-2">
                            <div class="challenge">
                                <div class="challenge-name"><span>Forensic studio</span></div>
                                <div class="challenge-level"><span>Level: Easy</span></div>
                                <div class="challenge-points"><span>Points: 500</span></div>
                                <div class="challenge-category"><span>Category: crypto</span></div>
                                <div class="challenge-state"><span>Solved</span></div>
                            </div>

                            <div class="challenge">
                                <div class="challenge-name"><span>Forensic studio</span></div>
                                <div class="challenge-level"><span>Level: Easy</span></div>
                                <div class="challenge-points"><span>Points: 500</span></div>
                                <div class="challenge-category"><span>Category: crypto</span></div>
                                <div class="challenge-state"><span>Solved</span></div>
                            </div>
                          </div>

                            <!-- <div *ngFor="let item of arr, let i = index" class="team">
                                <app-rank-content [rankNo]="i + 1" [pageIndex]="currentPage" [pageSize]="pageSize"></app-rank-content>
                            </div> -->

                            <div class="paginate">
                                <mat-paginator showFirstLastButtons [hidePageSize]="false" [pageSize]="pageSize"
                                    [pageIndex]="currentPage" [length]="length"></mat-paginator>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <app-right-side-bar></app-right-side-bar>
            </div>
        </div>
    </section>
</div>