<div class="land-fluid row td-overlay__inner">
  <section class="land-fluid">
    <div class="row content">
      <div class="col-3">
        <app-left-side-bar></app-left-side-bar>
      </div>
      <div class="col-6 block--full">
        <div class="landing">
          <div class="content-block">
            <!-- coming_soon_logo -->

            <div class="block-0">
              <div class="coming_soon_logo">
                <div>
                  <img src="/assets/wargames/logo.png" class="soon_logo" />
                </div>
              </div>

            </div>
            <!-- coming_soon_logo -->
            <div class="block-1">
              <div class="coming_soon_txt">
                <div>
                  <span>
                    It has been highly important for us to create meaningful
                    relationships with our customers and partners over the
                    years. Our business portfolio has been focused not only on
                    integrating creative technology services and solutions, but
                    rather on
                  </span>
                </div>
              </div>


              <div class="reset-form">
                <div class="row mb-4">
                  <div class="buttondiv">
                    <form [formGroup]="restPasswordForm">
                      <div *ngIf="password.invalid && password.touched">
                        <small *ngIf="password.errors?.required">*Password is required</small>
                        <small *ngIf="password.errors?.pattern">{{password.errors?.pattern.value}}* Password not allowed
                          Must contain
                          characters, numbers and at least one special and capital character</small>
                      </div>
                      <div>
                        <input formControlName="password" placeholder="Password" type="password" class="INPUT">
                      </div>
                      <small *ngIf="restPasswordForm.errors?.misMatch">*new password and password not match</small>
                      <div>
                        <input formControlName="newPassword" placeholder="new Password" type="password" class="INPUT">
                      </div>
                      <!--  <button class="logButton" src="/assets/wargames/Long-Btn-1" type="img" (click)="submitRestPasswordForm()">CONFIRM</button>

                      <div>
                        <img src="/assets/wargames/Long-Btn-1.png" width="500" height="42"
                          (click)="submitRestPasswordForm()" />

                          <button class="select" (click)="submitRestPasswordForm()">
                          <div class="confirm-btn"><span>CONFIRM</span></div>
                        </button>

                      </div>
                    -->

                    <div class="challenegs_content">
                      <div class="challenges-title">
                        <div class="select" (click)="submitRestPasswordForm()">
                          <div class="confirm-btn"><span>CONFIRM</span></div>
                        </div>
                      </div>
                  </div>




                    </form>
                  </div>
                </div>
              </div>


              <div class="coming_soon_social">
                <div class="social">
                  <img src="/assets/wargames/social/Inst-icon.png" class="insta" />
                  <img src="/assets/wargames/social/Face-icon.png" class="face" />
                  <img src="/assets/wargames/social/Twitter-icon.png" class="twitter" />
                  <img src="/assets/wargames/social/Youtube-icon.png" class="youtube" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-right-side-bar></app-right-side-bar>
    </div>
  </section>
</div>
