
.land-fluid, .content {
  height: inherit;
}

.block--full {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Modern No. 20";
}

.landing,
.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.block-0 {

  @media (min-width: 0px) and (max-width: 1199px) {
    padding-top: 130px;
  }

  @media (min-width: 1200px) and (max-width: 1599px) {
    padding-top: 150px;
  }

  @media (min-width: 1600px) and (max-width: 1749px) {
    padding-top: 165px;
  }

  @media (min-width: 1750px) {
    padding-top: 170px;
  }
}




.coming_soon_logo {
  position: relative;
  bottom: 35px;
  text-align: center;
  position: relative;
  z-index: 1;

  .soon_logo {
    @media (min-width: 0px) and (max-width: 1199px) {
      width: 60%;
    }

    @media (min-width: 1200px) and (max-width: 1599px) {
      width: 65%;
    }

    @media (min-width: 1600px) and (max-width: 1749px) {
      width: 80%;
    }

  }
}

.block-1 {
  position: relative;
  bottom: 48px;

  @media (min-width: 1600px) and (max-width: 1749px) {
    bottom: 55px;
  }

  @media (min-width: 1750px) {
    bottom: 50px;
  }
}

.coming_soon_txt {
  position: relative;
  bottom: 20px;
  text-align: center;
  background-image: url(/assets/wargames/BG-Tex-Intro.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  div {
    font-family: "Modern No. 20";
    font-weight: 600;
    // top right bottom left
    padding: 25px 30px 25px 30px;
    // line-height: inherit;

    // @media (min-width: 0) and (max-width: 1599px) {
    //   padding-left: 40px;
    //   padding-right: 40px;
    //   padding-top: 25px;
    //   padding-bottom: 25px;
    // }

    // @media (min-width: 1600px) and (max-width: 1749px) {
    //   padding-left: 40px;
    //   padding-right: 40px;
    //   padding-top: 25px;
    //   padding-bottom: 25px;
    // }

    // @media (min-width: 1750px) and (max-width: 1950px) {
    //   padding: 35px;
    //   font-size: 18px;
    //   font-weight: 600;
    //   padding-left: 50px;
    //   padding-right: 50px;
    //   font-family: "Roboto";
    // }
  }
}

.coming_soon_social {
  text-align: center;

  .social {
    img {
      cursor: pointer;
      padding-left: 2px;
      padding-right: 2px;
    }

    img:hover {
      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
    }
  }
}


/*** confirm button ***/
.challenegs_content {
  text-align: center;
  background: url(/assets/wargames/Long-Btn-1.png);
  background-repeat: no-repeat;
 // background-size: contain;
  background-size: 490px;
  background-position: center;
  position: relative;
  //bottom: 10px;
  bottom: 2px;
}

.challenegs_content .challenges-title {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #d2ab5f;
  span {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 1750px) {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 36px;
    font-size: 19px;
  }
}










// ::ng-deep countdown span .item1 {
//   position: relative;
//   @media (min-width: 1200px) and (max-width: 1599px) {
//     left: 2px;
//   }

//   @media (min-width: 1750px) {
//     left: 2px;
//   }
// }


// ::ng-deep countdown span .item2 {
//   position: relative;
//   left: 3px;
//   @media (min-width: 1600px) and (max-width: 1749px) {
//     left: 5px;
//   }

//   @media (min-width: 1750px) {
//     left: 5px;
//   }

// }

// ::ng-deep countdown span .item3 {
//   position: relative;
//   left: 3px;

//   @media (min-width: 1600px) and (max-width: 1749px) {
//     left: 4px;
//   }

//   @media (min-width: 1750px) {
//     left: 5px;
//   }
// }



// form :


.logodiv {
  background-color: #303F5D;
  opacity: 80%;
  width: fit-content;
  height: fit-content;
  border-bottom: 10px solid #700200;
  text-align: center;
}

.logim {
  padding-top: 5px;
}
.word {
 // background-color: #700200;
 // background-image: url('/assets/wargames/BG-Tex-Intro.png');
  //background-size: 100% 100%;

  width: 50%;
  opacity: 80%;
  color: #FFDA87;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-shadow: 4px 4px 4px #48414194;
}
.subtitle {
  margin: 0px;
}
.buttondiv {
  margin: auto;
  text-align: center;
}

.logButton {
  background-color: #980000;
  border: none;
  width: 239px;
  color: white;
  height: 36px;
 margin-right: 5px;
 font-weight: bold;

}

.loginButton {
    background-color: #980000;
    border: none;
    width: 120px;
    color: white;
    height: 36px;
    margin-right: 5px;
   font-weight: bold;

  }

.loginActive {
  background-color: #980000;
  border: none;
  color: white;
  height: 36px;

  width: 398px;
  margin-right: 5px;
  font-weight: bold;
}
.loginnotActive {
  background-color: #980000;
  border: none;
  color: white;
  height: 36px;
  font-weight: bold;
  width: 80px;
  margin-right: 5px;
}
.sigupPutton {
  font-weight: bold;
  background-color: #0055ac;
  border: none;
  width: 239px;
  color: white;
  height: 36px;
}
.sigupActive {
  background-color: #0055ac;
  border: none;
  color: white;
  height: 36px;
  width: 398px;
  font-weight: bold;
}
.sigupnotActive {
  background-color: #0055ac;
  border: none;
  color: white;
  height: 36px;
  width: 80px;
  font-weight: bold;
}

input:focus,
button:active,
button:focus {
  outline: none;
}
.logButton{
    margin-left: 0px;
    background-color: #700200;
    opacity: 75%;
    border: none;
    width: 488px;
    color: #FFDA87;
    height: 36px;
    margin-top: 5px;
    font-weight: bold;
}
.INPUT{
    margin-top: 5px !important;
    margin-bottom: 5px;
    width: 488px;
    border: none;
    padding: 8px;
    background-color: #010711;
    opacity: 30%;
    border: #91B5CC;
    border-radius: 5px;
    border-style: revert;

}


small {
  color: #FFDA87;
  background: #700200;
  padding: 4px;
}

@media screen and (min-width: 511px) {
  .INPUT{
    width: 488px;
  }


  .logButton{
    width: 488px;
}
}

@media screen and (max-width: 520px) {
  .INPUT{
    width: 323px;
  }

  .logButton {
    width: 323px;
  }
}
